@model EcommerceApp.Models.Entities.Category

<h1>Create Category</h1>

<form method="post">
    <label>Category Name</label>
    <input asp-for="Name" />
    <br /><br />
    <label>Display order</label>
    <input asp-for="DisplayOrder" />
    <br /><br />
    <button type="submit">Save</button>
</form>